<!-- Navbar -->

<div class="flex h-[5%] w-full items-center rounded-t-md bg-slate-200">
  <div class="group flex">
    <button
      (click)="cerrar()"
      class="m-1 flex h-3 w-3 cursor-pointer items-center justify-center rounded-full bg-[#F75F57] p-1.5"
    >
      <i
        class="pi pi-times opacity-0 transition-all duration-75 group-hover:opacity-100"
        style="font-size: 8px; padding: 0%; color: #1a1d21"
      ></i>
    </button>
    <button
      (click)="cerrar()"
      class="m-1 flex h-3 w-3 cursor-pointer items-center justify-center rounded-full bg-[#FBBC2D] p-1.5"
    >
      <i
        class="pi pi-minus opacity-0 transition-all duration-75 group-hover:opacity-100"
        style="font-size: 8px; padding: 0%; color: #1a1d21"
      ></i>
    </button>
    <button
      (click)="cerrar()"
      class="m-1 flex h-3 w-3 cursor-pointer items-center justify-center rounded-full bg-[#42C840] p-1.5"
    >
      <i
        class="pi pi-star opacity-0 transition-all duration-75 group-hover:opacity-100"
        style="font-size: 8px; padding: 0%; color: #1a1d21"
      ></i>
    </button>
  </div>
  <div class="flex w-[90%] items-center justify-center text-center">
    Agenda De Citas Medicas
  </div>
</div>
<!-- Body -->
<div
  class="flex h-[100%] items-center justify-center mobile:block mobile:h-[100%] mobile:overflow-y-scroll"
>
  <app-inputCita
    class="w-1/2 mobile:w-full"
    [ListaDeCitas]="listaDeCitas"
    [show]="show"
  ></app-inputCita>

  <div
    class="hidden h-[5px] w-full items-center justify-center bg-gray-700 mobile:flex"
  ></div>
  <app-list
    class="h-[90%] w-1/2 overflow-y-scroll mobile:h-full mobile:w-full"
    [ListaDeCitas]="listaDeCitas"
    [show]="show"
  ></app-list>
</div>
