<div class="fondo h-screen w-screen">
  <app-citas
    [CerrarApp]="showAppFuntion"
    [showAPPCita]="showAPP"
    (showAPPCitaChange)="showAppFuntion($event)"
    [ngClass]="
      showAPP === 'cita'
        ? 'fixed  opacity-100 mobile:left-0 mobile:top-0 sm:left-[5%] sm:top-[5%] xl:left-[20%] xl:top-[10%]'
        : 'fixed   opacity-0 mobile:-bottom-[100%] mobile:left-0 sm:-bottom-[100%] sm:left-[5%] xl:-bottom-[100%] xl:left-[20%]'
    "
    class="block h-[80%] justify-center rounded-md bg-white shadow-2xl transition-all duration-1000 ease-linear mobile:h-[90%] mobile:w-full sm:w-[90%] xl:w-[60%]"
  ></app-citas>
  <app-clima-app
    (showAPPClimaChange)="showAppFuntion($event)"
    [ngClass]="
      showAPP === 'clima'
        ? 'fixed  opacity-100 mobile:left-0 mobile:top-0 sm:left-[5%] sm:top-[5%] xl:left-[20%] xl:top-[10%]'
        : 'fixed   opacity-0 mobile:-bottom-[100%] mobile:left-0 sm:-bottom-[100%] sm:left-[5%] xl:-bottom-[100%] xl:left-[20%]'
    "
    class="block h-[80%] justify-center rounded-md bg-white shadow-2xl transition-all duration-1000 ease-linear mobile:h-[90%] mobile:w-full sm:w-[90%] xl:w-[60%]"
  ></app-clima-app>
  <app-piano-app
    (showAPPPianoChange)="showAppFuntion($event)"
    [ngClass]="
      showAPP === 'piano'
        ? 'fixed  opacity-100 mobile:left-0 mobile:top-0 sm:left-[5%] sm:top-[5%] xl:left-[20%] xl:top-[10%]'
        : 'fixed   opacity-0 mobile:-bottom-[100%] mobile:left-0 sm:-bottom-[100%] sm:left-[5%] xl:-bottom-[100%] xl:left-[20%]'
    "
    class="block h-[80%] justify-center rounded-md bg-transparent transition-all duration-1000 ease-linear mobile:h-[90%] mobile:w-full sm:w-[90%] xl:w-[60%]"
  >
  </app-piano-app>
  <app-convert-app
    (showAPPConvertChange)="showAppFuntion($event)"
    [ngClass]="
      showAPP === 'convert'
        ? 'fixed  opacity-100 mobile:left-0 mobile:top-0 sm:left-[5%] sm:top-[5%] xl:left-[20%] xl:top-[10%]'
        : 'fixed   opacity-0 mobile:-bottom-[100%] mobile:left-0 sm:-bottom-[100%] sm:left-[5%] xl:-bottom-[100%] xl:left-[20%]'
    "
    class="block h-[80%] justify-center rounded-md bg-white shadow-2xl transition-all duration-1000 ease-linear mobile:h-[90%] mobile:w-full sm:w-[90%] xl:w-[60%]"
  ></app-convert-app>
  <app-noticias-api
    (showAPPNoticiasChange)="showAppFuntion($event)"
    [ngClass]="
      showAPP === 'Noticias'
        ? 'fixed  opacity-100 mobile:left-0 mobile:top-0 sm:left-[5%] sm:top-[5%] xl:left-[20%] xl:top-[10%]'
        : 'fixed   opacity-0 mobile:-bottom-[100%] mobile:left-0 sm:-bottom-[100%] sm:left-[5%] xl:-bottom-[100%] xl:left-[20%]'
    "
    class="block h-[80%] justify-center rounded-md bg-white shadow-2xl transition-all duration-1000 ease-linear mobile:h-[90%] mobile:w-full sm:w-[90%] xl:w-[60%]"
  >
  </app-noticias-api>
  <div class="flex justify-center">
    <div
      class="fixed bottom-0 flex items-center justify-center gap-1 rounded-3xl border-2 border-sky-200 bg-transparent p-2 transition-all duration-300 ease-linear"
    >
      <div
        pTooltip="Citas APP"
        tooltipPosition="top"
        (click)="showAppFuntion('cita')"
        class="h-[50px] w-[50px] cursor-pointer text-[2px] transition-all duration-300 ease-linear hover:w-[70px] hover:-translate-y-6 mobile:h-[40px] mobile:w-[40px]"
      >
        <img src="../assets/twitter.png" alt="icon1" />
      </div>
      <div
        pTooltip="Clima APP"
        tooltipPosition="top"
        (click)="showAppFuntion('clima')"
        class="h-[50px] w-[50px] cursor-pointer transition-all duration-300 ease-linear hover:w-[70px] hover:-translate-y-6 mobile:h-[40px] mobile:w-[40px]"
      >
        <img src="../assets/calculator.png" alt="icon1" />
      </div>
      <div
        pTooltip="Piano APP"
        tooltipPosition="top"
        (click)="showAppFuntion('piano')"
        class="h-[50px] w-[50px] cursor-pointer transition-all duration-300 ease-linear hover:w-[70px] hover:-translate-y-6 mobile:h-[40px] mobile:w-[40px]"
      >
        <img src="../assets/google-play.png" alt="icon1" />
      </div>
      <div
        pTooltip="Convertidor APP"
        tooltipPosition="top"
        (click)="showAppFuntion('convert')"
        class="h-[50px] w-[50px] cursor-pointer transition-all duration-300 ease-linear hover:w-[70px] hover:-translate-y-6 mobile:h-[40px] mobile:w-[40px]"
      >
        <img src="../assets/instagram.png" alt="icon1" />
      </div>
      <div
        pTooltip="Noticias App"
        tooltipPosition="top"
        (click)="showAppFuntion('Noticias')"
        class="h-[50px] w-[50px] cursor-pointer transition-all duration-300 ease-linear hover:w-[70px] hover:-translate-y-6 mobile:h-[40px] mobile:w-[40px]"
      >
        <img src="../assets/telegram.png" alt="icon1" />
      </div>
    </div>
  </div>
</div>
